{% extends "base.html" %}
{% block content %}
  <div class="container-med text-sm-center p-5">
    <h1 class="display-2">About the quiz</h1>
    <p class="lead p-3">This quiz is based on a deep learning model based on almost 200 examples of people with lung
    cancer and almost 100 people without lung cancer.</p>
    <p class="lead">This is not professional medical advice. This is just an attempt on using machine learning on a dataset.
      Please contact a medical professional for accurate advice. </p>
  </div>
{% endblock %}
